@using SolrNet
@model BlockbusterRentals.ViewModels.SearchAgainViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Results</h2>
//0: Everything
            //1: Title (Title)
            //2: Description (Plot)
            //3: Release Date (Released)
            //4: Genre (Genre)
            //5: Cast (Actors)
            //6: Rating /5 (imbdRating)



@using (Html.BeginForm("Search", "SearchResults"))
{
    <div class="form-group">
        @Html.TextBoxFor(m => m.SearchQuery.queryString, new { @class = "form-control" })
        @Html.TextBoxFor(m => m.SearchQuery.queryType, new { @class = "form-control" })

    </div>

    <button type="submit" class="btn btn-primary">Save</button>

}












